.DS_Store
.github
node_modules/
web/node_modules/
web/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
.bin
*.db
.github
config.js
tmp
video

package-lock.json
yarn.lock
